@import "tailwindcss";
@import "tw-animate-css";

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
  .mask-image-ltr {
    mask-image: linear-gradient(to right, transparent, black 40%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 40%);
  }
}

:root {
  --background: #0e0e0e;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}